/*root font */
html {font-size: 16px;
      font-family: "Aria", Gadget, sans-serif
}
.portfolio-body {
  font-family:'Hind Guntur', sans-serif;
}

.portfolio-nav {
  height: 1rem;
  background: #000000;
}

.portfolio-nav p {
  font-size: .4rem;
  opacity: 1;
  color: #ffffff;
}

.portfolio-content h1 {
  border-style: solid;
  padding: 2rem 6rem 1.5rem 6rem;
}
