.portfolio {
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: center;
  margin: auto 0;

}
.porfolio-body {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.portfolio-nav {
  display: flex;
  flex-direction: row;
  order: 1;
  align-items: center;
  justify-content: space-between;
  margin: auto 0;
}

.portfolio-nav p {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
}

.portfolio-content {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 7rem;
}

.portfolio-content h1 {
  margin-top: auto;

}
