* { margin: 0; padding: 0; box-sizing: border-box; }

.myname:hover {
    color: rgb(240, 49, 22);
    width: 20vmin;
    background-color: rgb(0, 255, 255);
  }

.about:hover {
  color: #38fbfb;
}

.project-list:hover {
  color: #a3dae5;
}

.k2g:hover {
  color: #2026d6;
}

.nonsense:hover {
  color: #9600dc;
}

.updates:hover {
  color: #e3f019;
}

.contact:hover {
    color:  #0ef041;
  }
